{% extends 'catalog/layout.html'%}


<!-- <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewimport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta html-equive="X=UA-Compatible" content="ie=edge">
	<title>Author</title>
</head>
<body>
	<h1>Autor</h1>
	<p>gkjjjhoklkkllkjjjjjjjjjjjjjjj</p>
</body>
</html>	 -->


{% block title %}Author{% endblock %}


{% block content %}
	<div class="features">
	
	<h1>Author</h1>
	<p>uiuiuiuuii</p>

</div>
{% endblock %}